html,
body {
  width: 100%;
  height: 100%;
}

body{
  background-image: url(/img/zyro-image.png); 
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadrado {
  color: black;
  padding: 2em;
  background-color: rgba(110, 110, 110, 0.699);
  border-radius: 1em;
  border: 2px solid white;
}

h1 {
  margin-bottom: 1em;
}

.erro {
  color: red;
  font-size: small;
}

#log-link {
  color: white;
  padding: 0;
  margin: 0;
  line-height: 0;
  font-size: 18px;
  text-align: center;
  text-decoration-line: none;
  transition: .15s opacity ease-in-out;
}

#log-link:hover {
  color: black;
  opacity: .7;
  text-decoration-line: underline;
}

#cad-envio{
  background-color: black !important;
  border: none;
}