html,
body {
  width: 100%;
  height: 100%;
}

body{
  background-image: url(/img/cad-ofc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadrado {
  color: black;
  padding: 2em;
  background-color: rgba(131, 120, 120, 0.63);
  opacity: 0.6em;
  border-radius: 1em;
  border: 3px solid white;
  transition: transform 0.3s ease-in-out;
}
  
h1 {
  margin-bottom: 1em;
}

.erro {
  color: red;
  font-size: small;
}

#cade {
  color:  white;
  padding: 0;
  margin: 0;
  line-height: 0;
  font-size: 18px;
  text-align: center;
  text-decoration-line: none;
  transition: .15s opacity ease-in-out;
}
#cade:hover {
  color: black;
  opacity: .7;
  text-decoration-line: underline;
}

#enviar{
  background-color: black !important;
  border: none;
}


.quadrado.destacado {
  transform: scale(1.1);
}